StackLayout.titlebar {
    background-color: #2DB7E6;
}

StackLayout.titlebar Label {
    color: #FFFFFF;
}

.description {
    background-color: transparent;
    border-width: 0;
}

.tag {
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
}

.comment:nth-child(odd) {
    background-color: #AAAAAA;
}
